body {
  counter-reset: section;
}

@media (max-width: 768px) {
  #wrap-parent {
    height: auto !important;
  }

  #wrap-child {
    height: auto !important;
  }
}

#wrap-child {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  background-color: #f4f3ef;
  opacity: 0.85;
}

#wrap-parent {
  height: 100vh;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .responsivetable table,
  .responsivetable thead,
  .responsivetable tbody,
  .responsivetable th,
  .responsivetable td,
  .responsivetable tr,
  .responsivetable .table-sm,
  .responsivetable .table {
    display: block;
  }

  .responsivetable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsivetable tr {
    margin: 0 0 1rem 0;
  }

  .table-responsive {
    overflow: hidden;
  }

  .responsivetable td:before {
    content: attr(data-label);
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}

#loader {
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 5px solid #05798d;
  animation: spin 0.5s 0.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:disabled,
input:disabled {
  cursor: not-allowed !important;
}

.collapse a li {
  transition: all 0.3s ease-in-out;
}

.collapse a li:hover {
  border-right: 10px solid white;
  transform: scale(0.99);
}

#package-items .row::before {
  counter-increment: section;
  content: counter(section);
  padding: 5px;
  position: absolute;
  top: -30px;
  left: 15px;
  margin-bottom: 2px;
  background: #0b7699;
  width: 30px;
  text-align: center;
  color: white;
}

@media print {
  body {
    visibility: hidden;
  }

  .print-container,
  .print-container * {
    visibility: visible !important;
  }

  input,
  button {
    display: none !important;
  }

  #repaymentmodal {
    visibility: hidden !important;
  }

  #sysmainpanel {
    min-width: 100vw;
  }

  .sidebar-content-wrapper {
    display: none;
  }

  .print-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

.admin-login {
  padding: 20px 10px;
  border-radius: 5px;
  width: 600px;
}

@media (max-width: 768px) {
  .admin-login {
    width: 95%;
  }
}

.nav-link.active {
  background-color: #343a40 !important;
}
